body {
  background-color: #1c1d22;
  font-family: sans-serif;
}

header {
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

nav {
  justify-content: space-between;
  position: fixed;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin: 1.4rem;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article {
  color: #fff;
  font-family: sans-serif;
  height: 100vh;
  margin-bottom: 4rem;
}

article {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.salutation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.my-name {
  width: 100%;
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 0.8rem;
}

.home .intro {
  font-size: 1rem;
  position: relative;
  bottom: 1.5rem;
  left: 2.4rem;
  text-align: left;
}

.profile-btn{
  color: #fff;
  background:linear-gradient(#4196fe 10%, #3340fc);
  font-size: 1.2rem;
  padding: 4px;
  outline: none;
  border: none;
  position: relative;
  right: 6.2rem;
}

.profile-btn .dot {
  height: 8px;
  width: 8px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
.social-links{
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  font-size: 1.4rem;
  height: 34%;
  left: 2.4rem;
  bottom: 2.4rem;
  
}

.social-links a {
  color: #fff;
}
[type="radio"] {
  display: none;
}

#slider {
  height: 35vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 40%;
  height: 60%;
  border-radius: 0.2rem;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: 0.4s ease;
}
/* fist */
#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 { 
  box-shadow: 0 1px 4px 0 rgba(0,0,0, .37);
  transform: translate3d(-30%,0,-200px);
}
/* second */
#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 { 
  box-shadow: 0 6px 10px 0 rgba(0,0,0, .3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}
/* third */
#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide2, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 { 
  box-shadow: 0 13px 25px 0 rgba(0,0,0, .3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}
/* fourth */
#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide3, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 { 
  box-shadow: 0 6px 10px 0 rgba(0,0,0, .3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}
/* fifth */
#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 { 
  box-shadow: 0 1px 4px 0 rgba(0,0,0, .37);
  transform: translate3d(30%,0,-200px);
}

.project-title {
 color: #fff;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
 bottom: 9rem;
}

.project-container {
  width: 30%;
}

.project-heading {
  text-align: center;
}

.project-captions {
  color: #bfbfc0;
  text-align: center;
  line-height: 1.4rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 74%;
  align-items: center;
}

.link-btns {
  display: flex;
  justify-content: center;
}

.link-btns .btn-container .github {
  background: linear-gradient(#3c3d42, #000);
  padding: 0.5rem;
  font-size: 1.1rem;
}

.link-btns .btn-container .live {
  padding: 0.5rem;
  font-size: 1.1rem;
}

.about-page {
  width: 100%;
}

.about-container {
  display: flex;
  padding-left: 7rem;
  padding-right: 4rem;
  color: #fff;
}

.about-content {
  padding: 2rem 6rem 8rem 8rem;
}

.about-paragraph {
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem;
}

.about-heading {
  text-align: center;
  border-bottom: 0.2rem solid #fff;
  padding-bottom: 0.4rem;
  width: 20%;
  position: relative;
  left: 9rem;
}

.skill-container {
  margin-top: 2rem;
  padding-top: 2rem;
}

.skill-heading {
  color: #fff;
  text-align: left;
  border-bottom: 0.1rem solid #fff;
  padding-bottom: 0.2rem;
  width: 8%;
  position: relative;
  left: 22rem;
}

.lang {
  background: #111217;
  width: 10vw;
  box-shadow: 4px;
}

.lang-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-lang {
  color: #fff;
  height: 3rem;
  text-align: center;
  padding-top: 1rem;
  text-transform: uppercase;
}

.lang img {
  width: 5rem;
  height: 5rem;
  position: relative;
  top: 1.4rem;
  left: 1.6rem;
}

.lang-group {
  margin: 1rem;
}

.move-down {
  position: relative;
  top: 1rem;
  margin-top: 2rem;
}

.contact-container {
  padding-top: 2rem;
  margin-top: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
}

.contact {
  font-size: 2rem;
  text-align: center;
}

.email {
  font-size: 1rem;
  text-align: center;
}

.phone {
  font-size: 1rem;
  text-align: center;
}

.contact-info {
  text-align: center;
}

#projects {
  padding-top: 6rem;
}

#about {
  padding-top: 6rem;
}

#home {
  padding-top: 12rem;
}