/* variables */
:root {
  --primary-clr: #1c1d22;
  --bg: #1c1d22;
  --neutral-clr: #fff;
  --light-blue: #007bff;
}

/* reset */

/* base styles */

/* fonts */

/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px){
  
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px){

}

/* desktop styles */
@media screen and (min-width: 1200px){

}